<p id="notice"></p><!--何これ-->
<h1>Books</h1>

<table><!--表全体(head,body,footer)の親要素-->
  <thead><!--表のヘッダー-->
    <tr><!--行-->
      <th>Title</th><!--表の見出し-->
      <th>Body</th>
      <th colspan="3"></th><!--この見出しの下にセルが３行分あるから３行結合する-->
    </tr><!--tr１つだからヘッダーは１行となる-->
  </thead>

<% @books.each do |book| %><!--indexｱｸｼｮﾝで取得した全てのﾃﾞｰﾀを順番に表示してbook変数に格納しておく-->

  <tbody><!--表の本体-->
    <tr><!--行を生成するタグ-->
    
      <td><!--表セルの内容(titleカラムのデータ全てを表示)-->
        <%= book.title %>
      </td>
      
      <td><!--bodyｶﾗﾑのﾃﾞｰﾀ全てを表示)-->
        <%= book.body %>
      </td>
      
          <!--book_pathは詳細画面のﾙｰﾄ､(book.id)で全ﾃﾞｰﾀのid取得？-->
      <td><%= link_to "Show", book_path(book.id) %></td><!--詳細画面のリンク-->
      
      <td><%= link_to "Edit", edit_book_path(book.id) %></td><!--編集画面へのリンク-->
      <td><%= link_to "Destroy", book_path(book.id), mehod: :delete %></td>
    </tr>
  </tbody><!--表本体終了-->
</table><!--表全体終了-->

 <% end %><!--変数book(全てのﾃﾞｰﾀ)使用終了.-->

<h2>Ｎew book</h2><!--投稿フォーム-->
<%= form_with model: @book do |f| %><!--入力フォームのベース部分-->
  <%= f.text_field :title %><!--ここはBookモデルのtitleカラムとつながってる-->
  <%= f.text_area :body %><!--Bookモデルのbodyカラムとつながってる-->
  <%= f.submit 'Create Book' %><!--投稿ボタン-->
<% end %>

