<p id="notice"><%= flash[:notice] %></p>

<p><strong>Title:</strong><%= @book.title %></p><!--@bookはshowｱｸｼｮﾝで取得したidﾃﾞｰﾀ-->
<p><strong>Body:</strong><%= @book.body %></p>


<span><%= link_to "Edit", edit_book_path(@book.id) %></span><!--編集ﾍﾟｰｼﾞへ飛ぶ-->
<!--@bookは、showｱｸｼｮﾝで取得した特定idのデータ。そのidを指定して飛ぶ-->


<span><%= link_to "Back", books_path(@book.id) %></div></span><!--覧画面へ戻る-->
<!--<a href="/books">Back</a>これ使った方が-->